{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "@babel",
    "react"
  ],
  "rules": {
    "strict": 0,
    "indent": 0,
    "@typescript-eslint/rule-name": 0,
    "@babel/new-cap": "error",
    "@babel/no-invalid-this": "error",
    "@babel/no-unused-expressions": "error",
    "@babel/object-curly-spacing": 0,
    "@babel/semi": "error",
    "@typescript-eslint/ban-ts-comment": 0
  }
}
